<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav') %>

    <h4 class="ml-2 my-3">Todo List from mongoDB server</h4>

    <article style="padding: 30px">
      <ul class="list-group">
        <% posts.forEach((post,index)=>{ %>
        <li
          style="
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
            margin-bottom: 10px;
          "
          class="list-group-item list-<%= post._id %>"
        >
          <p>_id: <%= post._id %></p>
          <h4>할일 제목 : <%= post.title %></h4>
          <p>할일 마감날짜: <%= post.date %></p>

          <!-- data-id : 버튼을 누를때 실행되는 함수에 해당 변수 전달 -->
          <!-- data-(전달되는 변수명): ,즉 받아올땐 "data-"는 제외되고 "id"란 변수명에 값이 넣어져서 전달됨 -->
          <button
            data-id="<%= post._id %>"
            class="delete"
            type="button"
            class="btn btn-dark"
          >
            삭제
          </button>
        </li>
        <% }) %>
      </ul>
    </article>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Jquery를 이용한 ajax사용 -->
    <script>
      $('.delete').click(e => {
        const _id = e.target.dataset.id;

        const thisDom = $('.list-' + _id);

        // ajax기본문법
        // 서버에 새로고침없이 DELETE요청한다는 의미
        $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: { _id },
          // 요청이 성공하면 done의 내용을 실행한다.
        })
          .done(result => {
            // 현재 click이벤트가 작동된 html의 태그를 찾아서 서서히 안보이게 해라
            thisDom.fadeOut();
          })
          // 요청이 실패시 실핸되는 코드
          // arg1: , arg2: 서버에서 받은 응답코드, agr3: 서버에서 받은 에러 메시지
          .fail((xhr, textStatus, errorThrown) => {
            console.log(xhr, textStatus, errorThrown);
          });
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
